main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#concerns #container > * {
    margin: 0 10px;
}

#concerns #container h2 {
    margin-top: 5px;
}

#concerns #container .text {
    margin-top: 0;
}

#concerns #container p:first-of-type {
    margin-top: 5px;
}

#concerns #container p:last-of-type {
    font-weight: 600;
}

#concerns .title h2 {
    margin-top: 16px;
}

#whatToDo .bannerLine:first-of-type {
    display: none;
}

#concerns .blackLine.header {
    background-color: #1c1c1c;
    max-width: 80vw;
    margin-left: -4vw;
}

#concerns hr {
    border-color: rgba(0,0,0,0.15);
}

#concerns section:last-of-type {
    margin-bottom: 16px;
}