@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

#home {
    width: 100%;
    font-family: 'pt sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}

section {
    width: 100%;
    padding: 0;
}

.container {
    width: 80vw;
    text-align: center;
}

h2 {
    
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: black;
    font-weight: 400;
}

#inspiration {
    background: url('../../public/imgs/inspoBG.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.15);
}

.quote {
    font-family: 'Raleway', sans-serif;
    color: #f9f9f9;
    text-align: center;
    font-size: 2.5rem;
}

#mission {
    background-color: #f9f9f9;
    
}

#members {
    margin-top: 10vh;
    background-color: #f9f9f9;
    
}

#funding {
    margin-top: 10vh;
    background-color: #f9f9f9;
    
}

footer {
    background-color: #1c1c1c;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

footer a:link, footer a:visited {
    background-color: #f9f9f9;
    text-decoration: none;
    margin-right: 1rem;
}

footer img {
    width: 2rem;
    height: 2rem;
}




#mission{
    border-top: #1c1c1c 10px solid;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 auto;
    text-align: left;
}

#mission .flex-container{
    flex: 1 0 50%;
    flex-basis: 50%;
    align-self: flex-start;
    align-content: flex-start;
    display: inline-block;
    width: 100%;
    
}

#mission .flex-container h2{
    text-align: left;
}

#mission .container{
    flex: 0 0 50%;
    text-align: left;
    margin-right:0;
    margin-top: .5em;
    
    
    

}

#mission .container p{
    margin-top: 0;
    padding-right: 0.5rem;

}

#Space1{
    height:9px;
    max-width: 80vw;
    display: flex;
    background-color:#1c1c1c;;

}