@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rock+Salt&display=swap');

#home {
    width: 100%;
    font-family: 'pt sans', sans-serif;
}

#container .title h2{
    text-align: center;
}

#home main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
}
#home footer .blackLine{
    background-color: #1c1c1c;
    width: 100vw;
}

#home footer{
    background:  #f9f9f9;
}

#home .blackLine {
    width: 100vw;
    background-color: #1c1c1c;

}

section {
    width: 100%;
    padding: 0;
}

.container {
    width: 84vw;
    text-align: center;
}

h2 {
    
    font-family: 'Raleway', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    color: #1c1c1c;
    font-weight: 400;
}



#body-container{
    display:flex;
    flex-direction: column;
    background-color: transparent;
    gap: 8px;
    
}

#body-container > *{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
}



main section:nth-of-type(3){
    display: inline-block;
    position: relative;
    margin-bottom: 3vh;
    text-align: center;
    border-radius: 50px; 
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
    align-content: center;
    
  }
 




#container{
    /* Main cloud container */
    display: inline-block;
    position: relative;
    padding: 20px 30px;
    
    
    border-radius: 50px;  /* Make the container itself oval/rounded */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    align-content: center;
  }
 