main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#support .single-item-section {
    margin-top: 0;
    padding-top: 0;
}

#support .single-item-section h1 {
    padding-top: 0;
}