.casaroleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    max-width: 80vw;
    text-align: center;
    border-top: #1c1c1c 10px solid;
}

.casaroleSection h1 {
    font-size: 2rem;
    margin: 1rem;
}

.casaroleCardHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    max-width: 80vw;
    position: relative;
    margin: 1rem;
}

.casaroleCard {
    flex: 0 0 25%;
    height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    text-align: center;
    border-top: #1c1c1c 10px solid;
    margin: 1rem;
    transition: transform 0.5s ease;
}

.casaroleNavButton {
    background-color: #1c1c1c;
    color: #f9f9f9;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.casaroleNavButton.left {
    left: 0;
}

.casaroleNavButton.right {
    right: 0;
}

.casaroleNavButton.hidden {
    display: none;
}



