.column-section {
    padding: 20px;
    margin: 20px 0;
    width: 80vw;
}

.columnItem {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    transition: transform 0.3s ease-in-out;
}

.columnItem:hover {
    transform: scale(1.015);
    transition: transform 0.3s ease-in-out;
}

.columnItem>* {
    flex-basis: 50%;
}

.columnItem img {
    width: 1px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    border-right: 1px solid #f9f9f9;
}

.columnText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.columnText p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    width: 90%;
}

.columnLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.columnLinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.columnLinks ul li {
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    background:
        radial-gradient(circle at center,
            rgba(0, 0, 0, 0.2) 40%,
            rgba(0, 0, 0, 0.35) 100%),
        url('../../imgs/buttonBackground1.jpg') no-repeat center center/cover;
    padding: 0.5rem 2%;
    width: 96%;
    border-radius: 10px;
}

.columnLinks ul li:hover {
    background: radial-gradient(circle at center,
            rgba(0, 0, 0, 0.25) 40%,
            rgba(0, 0, 0, 0.4) 100%),
        url('../../imgs/buttonBackground1.jpg') no-repeat center center/cover;
}

.columnLinks ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 0.9rem;
    font-weight: 700;
}