.single-item-section {
    padding: 20px;
    margin: 20px 0;
    width: 84vw;
}

.single-item-content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: white;
    border-top: #225e8a 10px solid;
    border-radius: 0 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
}

.single-item-content:hover {
    box-shadow: rgba(34, 94, 138, 0.5) 0px 0px 10px 0px;
}

.single-item-content > * {
    flex-basis: 50%;
}

.single-item-content img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
    border-radius: 0 0 0 20px;
}

.single-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.single-item-text h2 {
    font-size: 2rem;
}

.single-item-text p {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
}

.single-item-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.single-item-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.single-item-links ul li {
    list-style: none;
    box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    background:
        radial-gradient(circle at center,
            rgba(0, 0, 0, 0.2) 40%,
            rgba(0, 0, 0, 0.35) 100%),
        url('../../imgs/buttonBackground1.jpg') no-repeat center center/cover;
    padding: 0.5rem 2%;
    padding: 0.5rem 2%;
    width: 96%;
    border-radius: 10px;
}

.single-item-links ul li:hover {
    background: radial-gradient(circle at center,
            rgba(0, 0, 0, 0.3) 40%,
            rgba(0, 0, 0, 0.45) 100%),
        url('../../imgs/buttonBackground1.jpg') no-repeat center center/cover;
}

.single-item-links ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 0.9rem;
    font-weight: 700;
}