#videoContainer {
    padding: 20px;
    margin: 10px 0;
    width: 84vw;
}

.videoCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.notVideoBox {
    margin-top: 10px;
    padding-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    border-top: #225e8a 10px solid;
    border-radius: 0 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
}

.notVideoBox:hover {
    box-shadow: rgba(34, 94, 138, 0.75) 0px 0px 10px 0px;
}

.notVideoBox > * {
    flex-basis: 48%;
}

.notVideoBox img {
    margin-left: 1%;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0 0 0 20px;
}

.boxText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    margin: 20px 0;
}

.boxText h2 {
    font-size: 2rem;
}

.boxText p {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 90%;
}

.videoLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.videoLinks ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin-bottom: 20px;
}

.videoLinks ul li {
    list-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    background:
        radial-gradient(circle at center,
            rgba(0, 0, 0, 0.2) 40%,
            rgba(0, 0, 0, 0.35) 100%),
        url('../../imgs/buttonBackground1.jpg') no-repeat center center/cover;
    padding: 0.5rem 2%;
    padding: 0.5rem 2%;
    width: 96%;
    border-radius: 10px;
}

.videoLinks ul li:hover {
    background: radial-gradient(circle at center,
            rgba(0, 0, 0, 0.3) 40%,
            rgba(0, 0, 0, 0.45) 100%),
        url('../../imgs/buttonBackground1.jpg') no-repeat center center/cover;
}

.videoLinks ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 0.9rem;
    font-weight: 700;
}

.boxVideo {
    flex-basis: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.boxVideo iframe {
    height: 85vh;
    width: 100%;
    border-radius: 0 0 20px 20px;
}